*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../image/bg.jpg");
    background-position: center center;
    background-size: cover;
}

.login-page {
    width: 500px;
    min-height: 500px;
    background-color: #131324;
    color: aliceblue;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    
}

.auth-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #00000076;
    padding: 4rem;
    
}

.login-input {
    padding: 1rem;
    border-radius: 0.4rem;
    width: 100%;
    font-size: 1rem;
    outline: none;
    background: none;
    color: #fff;
}

.login-btn {
    width: 100%;
    background-color: #0effa3;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
}